* {
    margin: 0;
}

.top {
    background-image: url("./src/img/beachshowcase.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 51px;
    text-align: center;
    color: #926239;
    padding-top: 23%;
    
}

.texthead {
    font-size: 21px;
    text-align: center;
    color: #926239;
    padding:10px; 
    margin: auto;

}

button {
    display:block;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #926239; 
    background-color: inherit;
    margin: 30px auto 0;
   
}

a {
    text-decoration: none;
    font-size: 16px;
    color:#926239;
}

.column {
    width: 100%;
    box-sizing: border-box;
}

.brownw {
    color: white;
    background-color:#926239;
    font-size: 17px;
    line-height: 1.8em;
    padding: 20px;
    
}

.whitebr {
    font-size: 17px;
    line-height: 1.8em;
    padding: 20px;
}

.bottom {
    display: inline-block;
    width: 31%;
    padding: 20px;
    margin: 0;
}

/* For mobile */

@media screen and (max-width:576px) {
    
    .column {
        display: flex;
        flex-direction: column;
    }

    .bottom {
        width: 100vw;
        text-align: center;
    }  
    
}